<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xx-12 ">
        <nb-card status="success" size="medium">
        <nb-card-header>
          Modules
          <button nbButton status="danger" (click)="AddNewModule()"><i class="icon-plus" ></i></button>
          
        </nb-card-header>
        <nb-card-body>
          <div class="row box" *ngFor="let item of listModules" [ngStyle]="{'background-image': getBackgroundImage(item.bgColor1, item.bgColor2)}" >
            <div class="col-md-2 col-sm-1 col-xx-1">
                <i class="icon {{item.menuIcon}}" ></i>
              </div>
              <div class="label col-md-9 col-sm-10 col-xx-10">
                <strong>{{ item.name }}</strong>
              </div>
              <div class="col-md-1 col-sm-1 col-xx-1">
                <i class="action icon-pencil" (click)="EditModule(item.id)" ></i>
              </div>
          </div>
            <!-- <nb-list>
              <nb-list-item class="row" *ngFor="let item of listModules">
              </nb-list-item>
            </nb-list>  -->
          </nb-card-body>
        <nb-card-footer></nb-card-footer>
      </nb-card></div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xx-12 ">
        <nb-card status="danger" size="medium">
            <nb-card-header>Module Features</nb-card-header>
            <nb-card-body>
              A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
              Originally, nebula was a name for any diffuse astronomical object,
              including galaxies beyond the Milky Way.
            </nb-card-body>
            <nb-card-footer>By Wikipedia</nb-card-footer>
          </nb-card>
    </div>
</div>

<!-- <div class="container">
	
</div> -->